	    {{#> body-block}}
<h2>Zeiten Kalifornien</h2>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="sunny-tab" data-toggle="tab" href="#sunny" role="tab" aria-controls="sunny" aria-selected="true"><i class="fp fp-sonne fp-2x" title="Sonnig / Sunny"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="partly-cloudy-tab" data-toggle="tab" href="#partly-cloudy" role="tab" aria-controls="partly-cloudy" aria-selected="false"><i class="fp fp-mischwetter fp-2x" title="Mischwetter / Partly Cloudy"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="cloudy-tab" data-toggle="tab" href="#cloudy" role="tab" aria-controls="cloudy" aria-selected="false"><i class="fp fp-wolke fp-2x" title="Wolkig / Cloudy"></i></a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="sunny" role="tabpanel" aria-labelledby="sunny-tab">

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/weather/california/sonne.png" alt="Kalifornien Sonne">
  <div class="card-body">
    <h5 class="card-title">Bisskurve</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

		<table class="table table-hover table-dark table-sm table-bordered times" style="text-align: center;">
  <thead>
    <tr>
      <th scope="col">Spezies</th>
      <th scope="col">05:00</th>
      <th scope="col">06:00</th>
			<th scope="col">07:00</th>
			<th scope="col">08:00</th>
			<th scope="col">09:00</th>
			<th scope="col">10:00</th>
			<th scope="col">11:00</th>
			<th scope="col">12:00</th>
			<th scope="col">13:00</th>
			<th scope="col">14:00</th>
			<th scope="col">15:00</th>
			<th scope="col">16:00</th>
			<th scope="col">17:00</th>
			<th scope="col">18:00</th>
			<th scope="col">19:00</th>
			<th scope="col">20:00</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="vertical-align: middle !important;">
				<a href="#" data-toggle="modal" data-target="#KarpfenInfo">
  Schuppenkarpfen
</a>

<!-- Modal -->

<div class="modal fade" id="KarpfenInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Karpfen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="/images/fish/carp.png" class="fish">
				<p><b>Typ:</b> <span class="uni">Einzigartig</span></p>
				<p><b>Max. Gewicht:</b> 24,5 kg</p>
				<p><b>Preis / kg:</b> 100 <i class="fp fp-credits"></i></p>
				<p><b>K&ouml;der:</b> Mais, Erbsen, Zuckermais, S&uuml;sse Erbse, Erbsenmasse</p>
				<p><b>Haken:</b> #3/0 - #7/0</p>
				<p><b>Spot #1:</b> <i class="fp fp-mischwetter fp-1x" title="Mischwetter"></i> Beaver Island, geradeaus, 37 m Distanz, 170 - 180 cm tief</p>
				<p><b>Spot #2:</b> <i class="fp fp-sonne fp-1x" title="Mischwetter"></i> Beaver Island, 180° drehen, 30 m Distanz, 140 cm tief</p>
				<p><b>Video:</b> <i class="material-icons">
videocam
</i> <a href="https://www.youtube.com/watch?v=4HIjpXvFO4o" target="_blank">YouTube</a> (Kp Shamino)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Schliessen</button>
      </div>
    </div>
  </div>
</div>
			</th>
      <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
      <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
      <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
			<td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
			<td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
			<td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
			<td></td>
			<td></td>
			<td></td>
    </tr>
    <tr>
      <th scope="row">Streifenbarsch</th>
      <td></td>
      <td></td>
      <td></td>
			<td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
			<td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
			<td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
			<td></td>
			<td></td>
			<td></td>
    </tr>

    <tr>
      <th scope="row">Stahlkopfforelle</th>
      <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
      <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
      <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
			<td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
			<td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
			<td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
			<td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
    </tr>

    <tr>
      <th scope="row">Rotohr Sonnenbarsch</th>
      <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
      <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
      <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
			<td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
    </tr>

    <tr>
      <th scope="row">K&ouml;nigslachs</th>
      <td></td>
      <td></td>
      <td><i class="fp fp-check trophy fp-2x" title="Einzigartig"></i></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
    </tr>

    <tr>
      <th scope="row">Blauer Sonnenbarsch</th>
      <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
    </tr>

    <tr>
      <th scope="row">Weisser Crappie</th>
      <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
    </tr>

    <tr>
      <th scope="row">Weisser St&ouml;r</th>
      <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td><i class="fp fp-check common fp-2x" title="Einzigartig"></i></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
    </tr>

    <tr>
      <th scope="row">Forellenbarsch</th>
      <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
    </tr>

    <tr>
      <th scope="row">Schwarzbarsch</th>
      <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
    </tr>

    <tr>
      <th scope="row">Weisser Katzenwels</th>
      <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
    </tr>

    <tr>
      <th scope="row">Kalifornische Pl&ouml;tze</th>
      <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
    </tr>

  </tbody>
</table>
	</div>
  <div class="tab-pane fade" id="partly-cloudy" role="tabpanel" aria-labelledby="partly-cloudy-tab">

		<table class="table table-hover table-dark table-sm table-bordered times" style="text-align: center;">
    <thead>
      <tr>
        <th scope="col">Spezies</th>
        <th scope="col">05:00</th>
        <th scope="col">06:00</th>
              <th scope="col">07:00</th>
              <th scope="col">08:00</th>
              <th scope="col">09:00</th>
              <th scope="col">10:00</th>
              <th scope="col">11:00</th>
              <th scope="col">12:00</th>
              <th scope="col">13:00</th>
              <th scope="col">14:00</th>
              <th scope="col">15:00</th>
              <th scope="col">16:00</th>
              <th scope="col">17:00</th>
              <th scope="col">18:00</th>
              <th scope="col">19:00</th>
              <th scope="col">20:00</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="vertical-align: middle !important;">Schuppenkarpfen</th>
        <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
        <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
        <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
              <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
              <td></td>
      </tr>
      <tr>
        <th scope="row">Streifenbarsch</th>
        <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
        <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
        <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
              <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
  
      <tr>
        <th scope="row">Stahlkopfforelle</th>
        <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
        <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
        <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
              <td></td>
              <td></td>
              <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
              <td></td>
      </tr>
  
      <tr>
        <th scope="row">Rotohr Sonnenbarsch</th>
        <td></td>
        <td></td>
        <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
  
      <tr>
        <th scope="row">K&ouml;nigslachs</th>
        <td></td>
        <td></td>
        <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fp fp-check trophy fp-2x" title="Troph&auml;e"></i></td>
      </tr>
  
      <tr>
        <th scope="row">Blauer Sonnenbarsch</th>
        <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
  
      <tr>
        <th scope="row">Weisser Crappie</th>
        <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
  
      <tr>
        <th scope="row">Weisser St&ouml;r</th>
        <td></td>
              <td><i class="fp fp-check common fp-2x" title="Gew&ouml;hnlich"></i></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fp fp-check common fp-2x" title="Gew&ouml;hnlich"></i></td>
              <td><i class="fp fp-check common fp-2x" title="Gew&ouml;hnlich"></i></td>
      </tr>
  
      <tr>
        <th scope="row">Forellenbarsch</th>
        <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
  
      <tr>
        <th scope="row">Schwarzbarsch</th>
        <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
  
      <tr>
        <th scope="row">Weisser Katzenwels</th>
        <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
  
      <tr>
        <th scope="row">Kalifornische Pl&ouml;tze</th>
        <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
  
    </tbody>
  </table>

	</div>
  <div class="tab-pane fade" id="cloudy" role="tabpanel" aria-labelledby="cloudy-tab">
		<table class="table table-hover table-dark table-sm table-bordered times" style="text-align: center;">
    <thead>
      <tr>
        <th scope="col">Spezies</th>
        <th scope="col">05:00</th>
        <th scope="col">06:00</th>
              <th scope="col">07:00</th>
              <th scope="col">08:00</th>
              <th scope="col">09:00</th>
              <th scope="col">10:00</th>
              <th scope="col">11:00</th>
              <th scope="col">12:00</th>
              <th scope="col">13:00</th>
              <th scope="col">14:00</th>
              <th scope="col">15:00</th>
              <th scope="col">16:00</th>
              <th scope="col">17:00</th>
              <th scope="col">18:00</th>
              <th scope="col">19:00</th>
              <th scope="col">20:00</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="vertical-align: middle !important;">Schuppenkarpfen</th>
        <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
        <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
        <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
              <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
      <tr>
        <th scope="row">Streifenbarsch</th>
        <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
        <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
        <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
  
      <tr>
        <th scope="row">Stahlkopfforelle</th>
        <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
        <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
        <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
              <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
              <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
              <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
              <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
              <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
      </tr>
  
      <tr>
        <th scope="row">Rotohr Sonnenbarsch</th>
        <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
        <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
        <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
              <td><i class="fp fp-check uni fp-2x" title="Einzigartig"></i></td>
      </tr>
  
      <tr>
        <th scope="row">K&ouml;nigslachs</th>
        <td><i class="fp fp-check trophy fp-2x" title="Troph&auml;e"></i></td>
        <td></td>
        <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fp fp-check trophy fp-2x" title="Troph&auml;e"></i></td>
      </tr>
  
      <tr>
        <th scope="row">Blauer Sonnenbarsch</th>
        <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
  
      <tr>
        <th scope="row">Weisser Crappie</th>
        <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
  
      <tr>
        <th scope="row">Weisser St&ouml;r</th>
        <td><i class="fp fp-check common fp-2x" title="Gew&ouml;hnlich"></i></td>
              <td><i class="fp fp-check common fp-2x" title="Gew&ouml;hnlich"></i></td>
              <td><i class="fp fp-check common fp-2x" title="Gew&ouml;hnlich"></i></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fp fp-check common fp-2x" title="Gew&ouml;hnlich"></i></td>
              <td><i class="fp fp-check common fp-2x" title="Gew&ouml;hnlich"></i></td>
              <td><i class="fp fp-check common fp-2x" title="Gew&ouml;hnlich"></i></td>
      </tr>
  
      <tr>
        <th scope="row">Forellenbarsch</th>
        <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
  
      <tr>
        <th scope="row">Schwarzbarsch</th>
        <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
  
      <tr>
        <th scope="row">Weisser Katzenwels</th>
        <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
  
      <tr>
        <th scope="row">Kalifornische Pl&ouml;tze</th>
        <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
  
    </tbody>
  </table>
	<!-- end table cloudy -->
	</div>
</div>
<!-- old table -->
	  <table cellspacing="0" cellpadding="0" class="t1">
	    <tbody>
	      <tr>
	        <td valign="middle" class="td1">
	          <p class="p2"><span class="s1"><b>Spezies</b></span></p>
	        </td>
	        <td valign="middle" class="td2">
	          <p class="p2"><span class="s1"><b>Typ</b></span></p>
	        </td>
	        <td valign="middle" class="td3">
	          <p class="p2"><span class="s1"><b>Lbs</b></span></p>
	        </td>
	        <td valign="middle" class="td4">
	          <p class="p3"><span class="s1"><b>KGs</b></span></p>
	        </td>
	        <td valign="middle" class="td5">
	          <p class="p2"><span class="s1"><b>05:00</b></span></p>
	        </td>
	        <td valign="middle" class="td5">
	          <p class="p2"><span class="s1"><b>06:00</b></span></p>
	        </td>
	        <td valign="middle" class="td5">
	          <p class="p2"><span class="s1"><b>07:00</b></span></p>
	        </td>
	        <td valign="middle" class="td5">
	          <p class="p2"><span class="s1"><b>08:00</b></span></p>
	        </td>
	        <td valign="middle" class="td5">
	          <p class="p2"><span class="s1"><b>09:00</b></span></p>
	        </td>
	        <td valign="middle" class="td5">
	          <p class="p2"><span class="s1"><b>10:00</b></span></p>
	        </td>
	        <td valign="middle" class="td5">
	          <p class="p2"><span class="s1"><b>11:00</b></span></p>
	        </td>
	        <td valign="middle" class="td5">
	          <p class="p2"><span class="s1"><b>12:00</b></span></p>
	        </td>
	        <td valign="middle" class="td5">
	          <p class="p2"><span class="s1"><b>13:00</b></span></p>
	        </td>
	        <td valign="middle" class="td5">
	          <p class="p2"><span class="s1"><b>14:00</b></span></p>
	        </td>
	        <td valign="middle" class="td5">
	          <p class="p2"><span class="s1"><b>15:00</b></span></p>
	        </td>
	        <td valign="middle" class="td5">
	          <p class="p2"><span class="s1"><b>16:00</b></span></p>
	        </td>
	        <td valign="middle" class="td5">
	          <p class="p2"><span class="s1"><b>17:00</b></span></p>
	        </td>
	        <td valign="middle" class="td5">
	          <p class="p2"><span class="s1"><b>18:00</b></span></p>
	        </td>
	        <td valign="middle" class="td5">
	          <p class="p2"><span class="s1"><b>19:00</b></span></p>
	        </td>
	        <td valign="middle" class="td5">
	          <p class="p2"><span class="s1"><b>20:00</b></span></p>
	        </td>
	        <td colspan="2" valign="middle" class="td6">
	          <p class="p2"><span class="s1"><b>Wetter</b></span></p>
	        </td>
	        <td valign="middle" class="td7">
	          <p class="p2"><span class="s1"><b>Preis/LB Normal</b></span></p>
	        </td>
	        <td valign="middle" class="td8">
	          <p class="p2"><span class="s1"><b>Preis/KG Normal</b></span></p>
	        </td>
	      </tr>
	      <tr>
	        <td rowspan="4" valign="middle" class="td9">
	          <p class="p4"><span class="s1">
							<b>Schuppenkarpfen</b>
							</span></p>
							<!-- Button trigger modal -->

	<a href="#" class="badge badge-dark" data-toggle="modal" data-target="#exampleModalCenter">
  Schuppenkarpfen
</a>

<!-- Modal -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Karpfen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="images/fish/carp.png" class="fish">
				<p>Typ: <span class="uni">Einzigartig</span></p>
				<p>Max. Gewicht: 24,5 kg</p>
				<p>Preis / kg: 100 <i class="fp fp-credits"></i></p>
				<p>K&ouml;der: Mais, Erbsen, Zuckermais, S&uuml;sse Erbse</p>
				<p>Haken: #3/0 - #7/0</p>
				<p>Tiefe: Grund, bzw. ca. 180 cm (Mischwetter-Spot) / ca. 140 cm Sonnen-Spot</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Schliessen</button>
      </div>
    </div>
  </div>
</div>

							
	        </td>
	        <td rowspan="4" valign="middle" class="td10">
	          <p class="p5"><span class="s1">Einzigartig</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td11">
	          <p class="p6"><span class="s1">54,01</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td11">
	          <p class="p6"><span class="s1">24,50</span></p>
	        </td>
	        <td valign="bottom" class="td12">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td13">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td13">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td13">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td13">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td13">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td13">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td15">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td16">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Sonnig</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td18">
	          <p class="p4"><span class="s1">45,45</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td19">
	          <p class="p4"><span class="s1">100,00</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td20">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td21">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td21">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td21">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td21">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td23">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td24">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">teilw. Bewölkt</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td25">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td26">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td26">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td26">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td23">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td27">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Bewölkt</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td28">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td30">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td31">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Regen</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td rowspan="4" valign="middle" class="td9">
	          <p class="p4"><span class="s1"><b>Rotohr Sonnenbarsch</b></span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td10">
	          <p class="p5"><span class="s1">Einzigartig</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td11">
	          <p class="p6"><span class="s1">4,85</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td11">
	          <p class="p6"><span class="s1">2,20</span></p>
	        </td>
	        <td valign="bottom" class="td12">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td13">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td13">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td13">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td32">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td16">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Sonnig</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td18">
	          <p class="p4"><span class="s1">54,55</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td19">
	          <p class="p4"><span class="s1">120,00</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td33">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td23">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td24">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">teilw. Bewölkt</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td25">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td26">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td26">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td26">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td34">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td27">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Bewölkt</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td28">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td30">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td31">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Regen</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td rowspan="4" valign="middle" class="td9">
	          <p class="p4"><span class="s1"><b>Stahlkopfforelle</b></span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td10">
	          <p class="p5"><span class="s1">Einzigartig</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td11">
	          <p class="p6"><span class="s1">38,58</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td11">
	          <p class="p6"><span class="s1">17,50</span></p>
	        </td>
	        <td valign="bottom" class="td12">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td13">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td13">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td13">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td13">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td13">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td13">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td32">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td16">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Sonnig</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td18">
	          <p class="p4"><span class="s1">54,55</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td19">
	          <p class="p4"><span class="s1">120,00</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td20">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td21">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td21">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td21">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td23">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td24">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">teilw. Bewölkt</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td25">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td26">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td26">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td26">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td26">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td26">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td26">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td26">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td34">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td27">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Bewölkt</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td28">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td30">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td31">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Regen</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td rowspan="4" valign="middle" class="td9">
	          <p class="p4"><span class="s1"><b>Streifenbarsch</b></span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td10">
	          <p class="p5"><span class="s1">Einzigartig</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td11">
	          <p class="p6"><span class="s1">52,91</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td11">
	          <p class="p6"><span class="s1">24,00</span></p>
	        </td>
	        <td valign="bottom" class="td35">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td13">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td13">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td13">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td13">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td15">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td16">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Sonnig</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td18">
	          <p class="p4"><span class="s1">36,36</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td19">
	          <p class="p4"><span class="s1">80,00</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td20">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td21">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td21">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td21">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td23">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td24">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">teilw. Bewölkt</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td25">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td26">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td26">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td23">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td27">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Bewölkt</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td28">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td30">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td31">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Regen</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td rowspan="4" valign="middle" class="td9">
	          <p class="p4"><span class="s1"><b>Blauer Sonnenbarsch</b></span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td36">
	          <p class="p5"><span class="s1">Trophäe</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td11">
	          <p class="p6"><span class="s1">1,92</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td11">
	          <p class="p6"><span class="s1">0,87</span></p>
	        </td>
	        <td valign="bottom" class="td35">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td15">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td16">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Sonnig</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td18">
	          <p class="p4"><span class="s1">34,09</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td19">
	          <p class="p4"><span class="s1">75,00</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td33">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td23">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td24">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">teilw. Bewölkt</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td33">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td23">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td27">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Bewölkt</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td28">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td30">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td31">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Regen</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td rowspan="4" valign="middle" class="td9">
	          <p class="p4"><span class="s1"><b>Königslachs</b></span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td36">
	          <p class="p5"><span class="s1">Trophäe</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td11">
	          <p class="p6"><span class="s1">41,89</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td11">
	          <p class="p6"><span class="s1">19,00</span></p>
	        </td>
	        <td valign="bottom" class="td35">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td13">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td15">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td16">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Sonnig</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td18">
	          <p class="p4"><span class="s1">45,45</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td19">
	          <p class="p4"><span class="s1">100,00</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td33">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td37">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td24">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">teilw. Bewölkt</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td25">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td34">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td27">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Bewölkt</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td28">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td30">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td31">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Regen</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td rowspan="4" valign="middle" class="td9">
	          <p class="p4"><span class="s1"><b>Weisser Crappie</b></span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td36">
	          <p class="p5"><span class="s1">Trophäe</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td11">
	          <p class="p6"><span class="s1">1,92</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td11">
	          <p class="p6"><span class="s1">0,87</span></p>
	        </td>
	        <td valign="bottom" class="td35">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td15">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td16">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Sonnig</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td18">
	          <p class="p4"><span class="s1">45,45</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td19">
	          <p class="p4"><span class="s1">100,00</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td33">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td23">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td24">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">teilw. Bewölkt</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td33">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td23">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td27">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Bewölkt</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td28">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td30">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td31">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Regen</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td rowspan="4" valign="middle" class="td9">
	          <p class="p4"><span class="s1"><b>Weißer Stör</b></span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td38">
	          <p class="p5"><span class="s1">Normal</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td11">
	          <p class="p6"><span class="s1">44,09</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td11">
	          <p class="p6"><span class="s1">20,00</span></p>
	        </td>
	        <td valign="bottom" class="td35">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td13">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td14">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td15">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td16">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Sonnig</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td18">
	          <p class="p4"><span class="s1">45,45</span></p>
	        </td>
	        <td rowspan="4" valign="middle" class="td19">
	          <p class="p4"><span class="s1">100,00</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td33">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td21">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td21">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td37">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td24">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">teilw. Bewölkt</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td25">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td26">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td26">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td22">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td26">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td26">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td34">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td27">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Bewölkt</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td28">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td29">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td30">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td31">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td17">
	          <p class="p4"><span class="s1">Regen</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td39">
	          <p class="p4"><span class="s1"><b>Kalifornische Plötze</b></span></p>
	        </td>
	        <td valign="bottom" class="td40">
	          <p class="p5"><span class="s1">Normal</span></p>
	        </td>
	        <td valign="middle" class="td41">
	          <p class="p6"><span class="s1">0,27</span></p>
	        </td>
	        <td valign="middle" class="td41">
	          <p class="p6"><span class="s1">0,12</span></p>
	        </td>
	        <td valign="bottom" class="td42">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td44">
	          <p class="p7"><br></p>
	        </td>
	        <td rowspan="4" colspan="2" valign="bottom" class="td45">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="middle" class="td46">
	          <p class="p4"><span class="s1">59,09</span></p>
	        </td>
	        <td valign="middle" class="td47">
	          <p class="p4"><span class="s1">130,00</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td39">
	          <p class="p4"><span class="s1"><b>Forellenbarsch</b></span></p>
	        </td>
	        <td valign="bottom" class="td40">
	          <p class="p5"><span class="s1">Normal</span></p>
	        </td>
	        <td valign="middle" class="td41">
	          <p class="p6"><span class="s1">3,31</span></p>
	        </td>
	        <td valign="middle" class="td41">
	          <p class="p6"><span class="s1">1,50</span></p>
	        </td>
	        <td valign="bottom" class="td42">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td44">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="middle" class="td46">
	          <p class="p4"><span class="s1">69,09</span></p>
	        </td>
	        <td valign="middle" class="td47">
	          <p class="p4"><span class="s1">152,00</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td39">
	          <p class="p4"><span class="s1"><b>Schwarzbarsch</b></span></p>
	        </td>
	        <td valign="bottom" class="td40">
	          <p class="p5"><span class="s1">Normal</span></p>
	        </td>
	        <td valign="middle" class="td41">
	          <p class="p6"><span class="s1">3,31</span></p>
	        </td>
	        <td valign="middle" class="td41">
	          <p class="p6"><span class="s1">1,50</span></p>
	        </td>
	        <td valign="bottom" class="td42">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td44">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="middle" class="td46">
	          <p class="p4"><span class="s1">72,73</span></p>
	        </td>
	        <td valign="middle" class="td47">
	          <p class="p4"><span class="s1">160,00</span></p>
	        </td>
	      </tr>
	      <tr>
	        <td valign="bottom" class="td39">
	          <p class="p4"><span class="s1"><b>Weißer Katzenwels</b></span></p>
	        </td>
	        <td valign="bottom" class="td40">
	          <p class="p5"><span class="s1">Normal</span></p>
	        </td>
	        <td valign="middle" class="td41">
	          <p class="p6"><span class="s1">1,94</span></p>
	        </td>
	        <td valign="middle" class="td41">
	          <p class="p6"><span class="s1">0,88</span></p>
	        </td>
	        <td valign="bottom" class="td42">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td43">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="bottom" class="td44">
	          <p class="p7"><br></p>
	        </td>
	        <td valign="middle" class="td46">
	          <p class="p4"><span class="s1">27,27</span></p>
	        </td>
	        <td valign="middle" class="td47">
	          <p class="p4"><span class="s1">60,00</span></p>
	        </td>
	      </tr>
	    </tbody>
	  </table>
		    {{/body-block}}